#box{
    height: 50%;
    width: 100%;
    background-color: red;
    margin-top: 100px;
    text-align: center;
}
#btn{
    margin-top: 20px;
}
h1{
    background-color: blue;
    color:green;
    height: fit-content;
    width: fit-content;


}
.two{
    margin-top: 20px;

}   
.btn1{
    margin-top: 20px;
}